* {
  box-sizing: border-box;
}

.contenedor-botones{

  display: flex;
  justify-content: center;
 
}
.botones{
  height: 40px;
  width: 300px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
}
.mas,.menos{
  width: 30px;
  cursor: pointer;
}
.input{
  text-align: center;
}

.imagen-variable{
  border: 1px solid red;
  height: 300px;
  width: 300px;
  margin: 20px auto ;
}
.imagen{
  height: 298px;
  width: 298x;
}

.mas,.menos{
  width: 30px;
  cursor: pointer;
}
.input{
  text-align: center;
}